@use 'helpers' as *;

//   в Figma в ~2 раза слабее блюр => 54 / 2 = 27

.header {
  &.fixed {
    position: fixed;
    color: var(--color-black);
    backdrop-filter: blur(27px);
    background-color: rgba(243, 239, 232, 0.6);
    transition: var(--transition-duration);
    
    & .header-wrapper__link {
      &:hover {
        &::after {
          background-color: var(--color-black);
          width: 100%;
        }
      }
    }
  }
  
  &.absolute {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color-white);
    transition: var(--transition-duration);
    
    & .header-wrapper__link {
      &:hover {
        &::after {
          background-color: var(--color-white);
          width: 100%;
        }
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  max-width: var(--container-width-desktop);
  width: 100%;
  padding-inline: var(--padding-desktop);
  
  @include laptop {
    max-width: var(--container-width-laptop);
    padding-inline: var(--padding-laptop-mobile);
  }
  
  @include mobile {
    max-width: var(--container-width-mobile);
    gap: 50px;
    padding-inline: var(--padding-laptop-mobile);
    
    &--wtf40 {
      gap: 40px;
    }
  }
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  
  @include mobile {
    gap: 20px;
  }
  
  &__title {
    @include H2;
    text-align: center;
    color: var(--color-black);
    
    @include mobile {
      @include m-H2;
    }
  }
  
  &__description {
    @include p-normal;
    max-width: 418px;
    text-align: center;
    color: var(--color-gray-300);
    
    @include mobile {
      @include m-p-normal;
      max-width: 318px;
    }
  }
}

.spec-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  width: 100%;
  max-width: 1920px;
  padding-inline: 30px;
  
  @include laptop {
    padding-inline: 20px;
  }
  
  @include mobile {
    gap: 50px;
    padding-inline: 21px;
  }
}