@use 'helpers' as *;

:root {
  --color-black: #1B1F2B;
  --color-white: #FFFFFF;
  
  --color-orange-200: #EFA501;
  --color-orange-100: #F8E6BE;
  
  --color-green-400: #286562;
  --color-green-300: #3B7E7B;
  --color-green-200: #627F7E;
  --color-green-100: #E0F0E5;
  
  --color-gray-300: #A6A6A6;
  --color-gray-200: #D9DFDB;
  --color-gray-100: #F1F3F2;
  
  --color-beige-200: #F4F0E9;
  --color-beige-100: #F9F7F4;
 
  --gradient-hero:
    linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%);
  
  --gradient-choose-tour: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%);
  
  --gradient-story-card: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0.01%,
    rgba(0, 0, 0, 0.2) 100%);
  
  --padding-desktop: 53px;
  --padding-laptop-mobile: 21px;
  
  --transition-duration: all 0.3s ease;
  
  --container-width-desktop: calc(1170px + var(--padding-desktop) * 2);
  --container-width-laptop: calc(918px + var(--padding-laptop-mobile) * 2);
  --container-width-mobile: calc(318px + var(--padding-laptop-mobile) * 2);
  
}