@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
fieldset:has(input) {
  border: none;
  padding: 0;
  margin: 0;
}

input {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-black: #1B1F2B;
  --color-white: #FFFFFF;
  --color-orange-200: #EFA501;
  --color-orange-100: #F8E6BE;
  --color-green-400: #286562;
  --color-green-300: #3B7E7B;
  --color-green-200: #627F7E;
  --color-green-100: #E0F0E5;
  --color-gray-300: #A6A6A6;
  --color-gray-200: #D9DFDB;
  --color-gray-100: #F1F3F2;
  --color-beige-200: #F4F0E9;
  --color-beige-100: #F9F7F4;
  --gradient-hero:
    linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%);
  --gradient-choose-tour: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%);
  --gradient-story-card: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0.01%,
    rgba(0, 0, 0, 0.2) 100%);
  --transition-duration: 0.3s ease;
  --container-width-desktop: 1170px;
  --container-width-laptop: 918px;
  --container-width-mobile: 320px;
}

header.fixed {
  position: fixed;
  color: var(--color-black);
  backdrop-filter: blur(27px);
  background-color: rgba(243, 239, 232, 0.6);
  opacity: 1;
}

header.absolute {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-white);
  opacity: 1;
  transition: background-color var(--transition-duration), opacity var(--transition-duration);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  width: var(--container-width-desktop);
  margin-inline: auto;
}
@media (width <= 64rem) {
  .container {
    width: var(--container-width-laptop);
  }
}
@media (width <= 22.5rem) {
  .container {
    width: var(--container-width-mobile);
    gap: 50px;
  }
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media (width <= 22.5rem) {
  .header-container {
    gap: 20px;
  }
}
.header-container__title {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
  text-align: center;
  color: var(--color-black);
}
@media (width <= 22.5rem) {
  .header-container__title {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }
}
.header-container__description {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  max-width: 418px;
  text-align: center;
  color: var(--color-gray-300);
}
@media (width <= 22.5rem) {
  .header-container__description {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    max-width: 318px;
  }
}

.spec-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  width: 100%;
  padding-inline: 30px;
}
@media (width <= 64rem) {
  .spec-container {
    padding-inline: 20px;
  }
}
@media (width <= 22.5rem) {
  .spec-container {
    gap: 50px;
    padding-inline: 21px;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  gap: 135px;
  background-color: var(--color-beige-100);
}
@media (width <= 22.5rem) {
  body {
    gap: 75px;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 135px;
}
@media (width <= 22.5rem) {
  main {
    gap: 75px;
  }
}

a,
label,
button,
input,
textarea,
select,
svg * {
  text-decoration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}
@media (any-hover: none) {
  a:active {
    text-decoration: underline;
  }
}
a[class] {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 88px;
  z-index: 100;
  padding: 0 57px;
}
@media (width <= 22.5rem) {
  .header {
    padding: 0 20px;
  }
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1168px;
}
.header-wrapper__logo > svg {
  width: 181.83px;
  height: 30.23px;
}
@media (width <= 22.5rem) {
  .header-wrapper__logo > svg {
    width: 133px;
    height: 22px;
  }
}
.header-wrapper__menu {
  max-width: 468px;
}
@media (width <= 22.5rem) {
  .header-wrapper__menu {
    display: none;
  }
}
.header-wrapper__menu-list {
  display: flex;
  gap: 50px;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
}
@media (width <= 64rem) {
  .header-wrapper__menu-list {
    gap: 30px;
  }
}
.header-wrapper__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
  text-decoration-skip-ink: none;
  transition: var(--transition-duration);
}
.header-wrapper__phone-link {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
}
@media (width <= 22.5rem) {
  .header-wrapper__phone-link {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 830px;
  color: var(--color-white);
  justify-content: center;
  align-items: center;
  padding-top: 88px;
  background-image: var(--gradient-hero), url("../images/hero/header-img-2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (width <= 64rem) {
  .hero {
    height: 831px;
    background-image: var(--gradient-hero), url("../images/hero/header-img.jpg");
  }
}
@media (width <= 22.5rem) {
  .hero {
    height: 488px;
  }
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}
@media (width <= 64rem) {
  .hero-wrapper {
    padding: 119px 2px;
  }
}
@media (width <= 22.5rem) {
  .hero-wrapper {
    gap: 40px;
    padding: 52px 0;
  }
}
.hero-wrapper__title {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 109%;
  letter-spacing: 0.02em;
}
@media (width <= 22.5rem) {
  .hero-wrapper__title {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }
}
.hero-wrapper__description {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
}
@media (width <= 64rem) {
  .hero-wrapper__description {
    padding-inline: 236px;
  }
}
@media (width <= 22.5rem) {
  .hero-wrapper__description {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    padding-inline: 5px;
  }
}
.hero-wrapper__search-button {
  width: 118px;
  height: 34px;
  padding: 5px 20px;
  border-radius: 10px;
  border: none;
  color: var(--color-black);
  background-color: var(--color-white);
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
}
@media (width <= 22.5rem) {
  .hero-wrapper__search-button {
    width: 114px;
    height: 33px;
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: -0.01em;
  }
}
.hero-wrapper__search-button:hover {
  color: var(--color-white);
  background-color: var(--color-orange-200);
  transition: var(--transition-duration);
}
.hero-wrapper__search-button:active {
  color: var(--color-black);
  background-color: var(--color-orange-100);
}

.choose-header {
  gap: 35px;
}
@media (width <= 22.5rem) {
  .choose-header {
    gap: 30px;
  }
}
.tabs-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: var(--color-black);
}
@media (width <= 22.5rem) {
  .tabs-header {
    gap: 10px;
    flex-wrap: wrap;
  }
}
.tabs-header__button {
  padding: 0;
  border: none;
  background: transparent;
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
}
.tabs-header__button:where(.is-active) {
  color: var(--color-orange-200);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
  transition-duration: var(--transition-duration);
}
@media (width <= 22.5rem) {
  .tabs-header__button:where(.is-active) {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 142%;
    text-underline-offset: 4px;
    transition-duration: var(--transition-duration);
  }
}
.tabs-header__button:hover {
  color: var(--color-black);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
  transition-duration: var(--transition-duration);
}
@media (width <= 22.5rem) {
  .tabs-header__button {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 142%;
  }
}

.tabs-body {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 30px;
}
@media (width <= 64rem) {
  .tabs-body {
    grid-template-columns: repeat(2, 450px);
    gap: 18px;
  }
}
@media (width <= 22.5rem) {
  .tabs-body {
    grid-template-columns: repeat(1, 318px);
    gap: 18px;
  }
}
.tabs-body:where(:not(.is-active)) {
  display: none;
}
.tabs-body__link {
  position: relative;
  width: 370px;
  height: 531px;
  color: var(--color-white);
  border-radius: 50px;
  overflow: hidden;
}
@media (width <= 64rem) {
  .tabs-body__link {
    width: 450px;
  }
}
@media (width <= 22.5rem) {
  .tabs-body__link {
    width: 318px;
    height: 318px;
    border-radius: 20px;
  }
}
.tabs-body__link:hover .tour-card__img {
  transform: scale(1.2);
  transition: var(--transition-duration);
}
.tabs-body__link:hover .tour-card__link {
  background-color: var(--color-green-400);
  transition: var(--transition-duration);
}
.tabs-body__link:active .tour-card__link {
  background-color: var(--color-orange-200);
}
.tabs-body__link:not(:hover) .tour-card__img {
  transform: scale(1);
  transition: var(--transition-duration);
}
.tabs-body__link:not(:hover) .tour-card__link {
  background-color: transparent;
  transition: var(--transition-duration);
}
.tabs-body__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: var(--gradient-choose-tour);
}

.tour-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 50px;
  width: 100%;
  height: 100%;
}
@media (width <= 22.5rem) {
  .tour-card {
    padding: 25px;
  }
}
.tour-card__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.tour-card-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  z-index: 1;
}
@media (width <= 22.5rem) {
  .tour-card-content {
    gap: 13px;
  }
}
.tour-card-content__title {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
}
@media (width <= 22.5rem) {
  .tour-card-content__title {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.04em;
  }
}
.tour-card-content__price {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
}
@media (width <= 22.5rem) {
  .tour-card-content__price {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: -0.01em;
  }
}
.tour-card__link {
  position: relative;
  left: -20px;
  bottom: -7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: 199px;
  height: 42px;
  z-index: 1;
  padding: 7px 20px;
  border-radius: 50px;
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
}
.tour-card__link::after {
  content: url("../icons/arrow btw.svg");
  width: 24px;
  height: 26px;
  fill: var(--color-white);
  stroke: var(--color-white);
}
@media (width <= 22.5rem) {
  .tour-card__link {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 142%;
  }
}

.collect-body {
  padding: 70px;
  background-color: var(--color-white);
  border-radius: 50px;
}
@media (width <= 64rem) {
  .collect-body {
    padding: 60px;
  }
}
@media (width <= 22.5rem) {
  .collect-body {
    padding: 20px 20px 40px 20px;
    border-radius: 30px;
  }
}

.collect-form {
  display: grid;
  column-gap: 30px;
  row-gap: 33px;
  grid-template-columns: repeat(2, 1fr);
}
@media (width <= 64rem) {
  .collect-form {
    column-gap: 20px;
  }
}
@media (width <= 22.5rem) {
  .collect-form {
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
}
.collect-form__col {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.collect-form__col--wide {
  grid-column: -1/1;
}
.collect-form__row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 19px;
}
@media (width <= 64rem) {
  .collect-form__row {
    gap: 11px;
  }
}
@media (width <= 22.5rem) {
  .collect-form__row {
    gap: 10px;
  }
}
.collect-form__row--wide {
  grid-column: -1/1;
}
@media (width <= 22.5rem) {
  .collect-form__row--wide {
    align-items: start;
  }
}
.collect-form__row--btn {
  gap: 30px;
  grid-column: -1/1;
}
@media (width <= 22.5rem) {
  .collect-form__row--btn {
    gap: 10px;
  }
}

.field__label {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: var(--color-black);
}
@media (width <= 22.5rem) {
  .field__label {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
  }
}
.field__label-gray {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: var(--color-gray-300);
}
@media (width <= 22.5rem) {
  .field__label-gray {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: -0.01em;
  }
}
.field__label-gray > a {
  color: var(--color-black);
}
.field__label-gray > a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
  text-decoration-skip-ink: none;
  transition: var(--transition-duration);
}
.field__label-gray > a:active {
  color: var(--color-green-400);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
  text-decoration-skip-ink: none;
}
.field__input {
  width: 500px;
  height: 68px;
  padding: 20px;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  border: 1px solid var(--color-beige-200);
  border-radius: 10px;
  color: var(--color-black);
  background-color: var(--color-beige-100);
}
@media (width <= 64rem) {
  .field__input {
    width: 389px;
  }
}
@media (width <= 22.5rem) {
  .field__input {
    width: 281px;
    height: 43px;
    padding: 10px;
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
  }
}
.field__input:hover {
  background-color: var(--color-beige-200);
}
.field__input:focus {
  outline: none;
}
.field__input:focus-visible {
  background-color: var(--color-beige-200);
  border: 1px solid var(--color-gray-300);
}
.field__input::placeholder {
  color: var(--color-gray-300);
}
.field__input:has(option) {
  color: var(--color-gray-300);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--color-beige-100) url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M13 19.4142L4.29289 10.7071C3.90236 10.3165 3.90237 9.68338 4.29289 9.29286C4.68341 8.90234 5.31658 8.90234 5.7071 9.29286L13 16.5858L20.2929 9.29286C20.6834 8.90234 21.3166 8.90234 21.7071 9.29286C22.0976 9.68338 22.0976 10.3165 21.7071 10.7071L13 19.4142Z' fill='%231B1F2B'/%3e%3c/svg%3e ") no-repeat;
  background-position: 454px center;
}
@media (width <= 64rem) {
  .field__input:has(option) {
    background-position: 343px center;
  }
}
@media (width <= 22.5rem) {
  .field__input:has(option) {
    background-position: 242px center;
  }
}
.field__input:has(option) > option {
  color: var(--color-green-400);
}
.field__input-textarea {
  resize: none;
  width: 100%;
  height: 152px;
  background-color: var(--color-beige-100);
  border: 1px solid var(--color-beige-200);
  border-radius: 10px;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
}
@media (width <= 22.5rem) {
  .field__input-textarea {
    height: 132px;
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
  }
}
.field__input-textarea:hover {
  background-color: var(--color-beige-200);
}
.field__input-textarea:focus {
  outline: none;
}
.field__input-textarea:focus-visible {
  background-color: var(--color-beige-200);
  border: 1px solid var(--color-gray-300);
}
.field__input-textarea:valid {
  color: var(--color-black);
}
.field__input-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 31px;
}
@media (width <= 22.5rem) {
  .field__input-set {
    gap: 30px;
  }
}
.field__input-set-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
}
@media (width <= 22.5rem) {
  .field__input-set-wrap {
    gap: 10px;
  }
}
.field__input-set-wrap-radio {
  position: relative;
  appearance: none;
  width: 26px;
  height: 26px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid var(--color-black);
}
@media (width <= 22.5rem) {
  .field__input-set-wrap-radio {
    width: 20px;
    height: 20px;
  }
}
.field__input-set-wrap-radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 0;
  height: 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='6' cy='6' r='6' fill='%231B1F2B'/%3e%3c/svg%3e");
}
.field__input-set-wrap-radio:checked::after {
  width: 12px;
  height: 12px;
}
@media (width <= 22.5rem) {
  .field__input-set-wrap-radio:checked::after {
    width: 9.23px;
    height: 9.23px;
  }
}
.field__input-checkbox {
  position: relative;
  appearance: none;
  width: 26px;
  height: 26px;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M21 2H5C3.34315 2 2 3.34315 2 5V21C2 22.6569 3.34315 24 5 24H21C22.6569 24 24 22.6569 24 21V5C24 3.34315 22.6569 2 21 2ZM5 0C2.23858 0 0 2.23858 0 5V21C0 23.7614 2.23858 26 5 26H21C23.7614 26 26 23.7614 26 21V5C26 2.23858 23.7614 0 21 0H5Z' fill='%231B1F2B'/%3e%3c/svg%3e ");
}
@media (width <= 22.5rem) {
  .field__input-checkbox {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.1538 1.53846H3.84615C2.57165 1.53846 1.53846 2.57165 1.53846 3.84615V16.1538C1.53846 17.4284 2.57165 18.4615 3.84615 18.4615H16.1538C17.4284 18.4615 18.4615 17.4284 18.4615 16.1538V3.84615C18.4615 2.57165 17.4284 1.53846 16.1538 1.53846ZM3.84615 0C1.72198 0 0 1.72198 0 3.84615V16.1538C0 18.278 1.72198 20 3.84615 20H16.1538C18.278 20 20 18.278 20 16.1538V3.84615C20 1.72198 18.278 0 16.1538 0H3.84615Z' fill='%231B1F2B'/%3e%3c/svg%3e ");
  }
}
.field__input-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 0;
  height: 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.293044 4.53581C0.683569 4.14529 1.31673 4.14529 1.70726 4.53581L4.62161 7.45017L11.1574 0.914353C11.5479 0.523829 12.1811 0.523829 12.5716 0.914353C12.9622 1.30488 12.9622 1.93804 12.5716 2.32857L5.32872 9.57149C4.93819 9.96201 4.30503 9.96201 3.9145 9.57149L0.293044 5.95003C-0.09748 5.5595 -0.09748 4.92634 0.293044 4.53581Z' fill='%231B1F2B'/%3e%3c/svg%3e ");
}
@media (width <= 22.5rem) {
  .field__input-checkbox::after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.610335 3.64296C0.910738 3.34256 1.39779 3.34256 1.69819 3.64296L3.94 5.88477L8.96755 0.857223C9.26795 0.55682 9.755 0.556819 10.0554 0.857223C10.3558 1.15763 10.3558 1.64468 10.0554 1.94508L4.48393 7.51656C4.18353 7.81696 3.69648 7.81696 3.39607 7.51656L0.610335 4.73082C0.309931 4.43041 0.309931 3.94336 0.610335 3.64296Z' fill='%231B1F2B'/%3e%3c/svg%3e ");
  }
}
.field__input-checkbox:checked::after {
  width: 12.24px;
  height: 12.24px;
}
@media (width <= 22.5rem) {
  .field__input-checkbox:checked::after {
    width: 9.42px;
    height: 9.42px;
  }
}
.field__input-btn {
  width: 235px;
  height: 58px;
  border-radius: 10px;
  border: none;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
}
@media (width <= 22.5rem) {
  .field__input-btn {
    width: 134px;
    height: 47px;
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
  }
}
.field__input-btn-submit {
  color: var(--color-white);
  background-color: var(--color-green-400);
}
.field__input-btn-submit:hover {
  background-color: var(--color-green-300);
  transition: var(--transition-duration);
}
.field__input-btn-submit:active {
  background-color: var(--color-green-200);
}
.field__input-btn-reset {
  color: var(--color-green-400);
  background-color: var(--color-green-100);
}
.field__input-btn-reset:hover {
  background-color: var(--color-gray-100);
  transition: var(--transition-duration);
}
.field__input-btn-reset:active {
  background-color: var(--color-gray-200);
}

@media (width > 64rem) {
  .reviews-header__title {
    width: 529px;
  }
}
.reviews-body {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
@media (width <= 64rem) {
  .reviews-body {
    gap: 18px;
  }
}
@media (width <= 22.5rem) {
  .reviews-body {
    flex-direction: column;
    gap: 18px;
  }
}
.reviews-body__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 570px;
  height: 673px;
  padding: 40px;
  background-color: var(--color-beige-200);
  border-radius: 50px;
}
@media (width <= 64rem) {
  .reviews-body__card {
    width: 450px;
    height: 841px;
  }
}
@media (width <= 22.5rem) {
  .reviews-body__card {
    width: 318px;
    height: 592px;
    padding: 20px;
    border-radius: 20px;
  }
}

.review__content {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  color: var(--color-black);
}
@media (width <= 22.5rem) {
  .review__content {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 142%;
  }
}
.review-reviewer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 145px;
}
@media (width <= 22.5rem) {
  .review-reviewer {
    height: 115px;
  }
}
.review-reviewer__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 8px;
  width: 100%;
}
.review-reviewer__info-name {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  color: var(--color-black);
}
@media (width <= 22.5rem) {
  .review-reviewer__info-name {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.04em;
  }
}
.review-reviewer__info-tour {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: var(--color-gray-300);
}
@media (width <= 22.5rem) {
  .review-reviewer__info-tour {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: -0.01em;
  }
}
.review-reviewer__img {
  border-radius: 50%;
}

.travel-photos-body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (width <= 22.5rem) {
  .travel-photos-body {
    gap: 18px;
  }
}
.travel-photos-body__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 301px);
  gap: 30px;
}
@media (width <= 64rem) {
  .travel-photos-body__row {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (width <= 22.5rem) {
  .travel-photos-body__row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 110px);
    gap: 10px;
  }
}
@media (width <= 22.5rem) {
  .travel-photos-body__row-mobile-spec {
    gap: 18px;
  }
}
.travel-photos-body__row-col5 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 301px);
}
@media (width <= 64rem) {
  .travel-photos-body__row-col5 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (width <= 22.5rem) {
  .travel-photos-body__row-col5 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 110px);
  }
}

.travel-photo {
  border-radius: 50px;
  overflow: hidden;
}
@media (width <= 64rem) {
  .travel-photo:has(.laptop) {
    display: none;
  }
}
@media (width <= 22.5rem) {
  .travel-photo {
    border-radius: 20px;
  }
  .travel-photo:has(.mobile) {
    display: none;
  }
}
.travel-photo__img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.travel-photo__img-center {
  object-position: center bottom;
}

.stories-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
@media (width <= 22.5rem) {
  .stories-body {
    gap: 20px;
  }
}
.stories-body__link {
  position: relative;
  width: 1170px;
  height: 567px;
  color: var(--color-white);
  border-radius: 50px;
  overflow: hidden;
}
@media (width <= 64rem) {
  .stories-body__link {
    width: 918px;
  }
}
@media (width <= 22.5rem) {
  .stories-body__link {
    width: 318px;
    height: 455px;
    border-radius: 20px;
  }
}
.stories-body__link:hover .story-card__img {
  transform: scale(1.2);
  transition: var(--transition-duration);
}
.stories-body__link:hover .story-card-links__description {
  background-color: var(--color-green-400);
  transition: var(--transition-duration);
}
.stories-body__link:active .story-card-links__description {
  background-color: var(--color-orange-200);
}
.stories-body__link:not(:hover) .story-card__img {
  transform: scale(1);
  transition: var(--transition-duration);
}
.stories-body__link:not(:hover) .story-card-links__description {
  background-color: transparent;
  transition: var(--transition-duration);
}
.stories-body__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: var(--gradient-story-card);
}

.story-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 60px;
  width: 100%;
  height: 100%;
}
@media (width <= 22.5rem) {
  .story-card {
    padding: 30px;
  }
}
.story-card__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.story-card-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 37px;
  z-index: 1;
}
@media (width <= 22.5rem) {
  .story-card-content {
    gap: 20px;
  }
}
.story-card-content__title {
  width: 60%;
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
}
@media (width <= 22.5rem) {
  .story-card-content__title {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.04em;
  }
}
.story-card-content__description {
  width: 55%;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
}
@media (width <= 64rem) {
  .story-card-content__description {
    width: 72%;
  }
}
@media (width <= 22.5rem) {
  .story-card-content__description {
    width: 95%;
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
  }
}
.story-card-content__description > span {
  white-space: pre;
}
.story-card-links {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  z-index: 1;
}
.story-card-links__description {
  position: relative;
  left: -20px;
  bottom: -7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: 199px;
  height: 42px;
  padding: 7px 20px;
  border-radius: 50px;
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
}
.story-card-links__description::after {
  content: url("../icons/arrow btw.svg");
  width: 24px;
  height: 26px;
  fill: var(--color-white);
  stroke: var(--color-white);
}
@media (width <= 22.5rem) {
  .story-card-links__description {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 142%;
  }
}
.story-card-links-soc {
  display: flex;
  flex-direction: row;
  gap: 35px;
}
.story-card-links-soc__link {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
}
@media (width <= 22.5rem) {
  .story-card-links-soc__link {
    display: none;
  }
}
.story-card-links-soc__link > a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
  text-decoration-skip-ink: none;
  transition: var(--transition-duration);
}
.story-card-links-soc__link > a:active {
  color: var(--color-orange-200);
}

.contacts-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  width: 771px;
  height: 370px;
}
@media (width <= 22.5rem) {
  .contacts-wrapper {
    flex-direction: column;
    align-items: center;
    width: 291px;
    height: 285px;
  }
}
.contacts-wrapper__img {
  width: 370px;
  height: 370px;
}
@media (width <= 22.5rem) {
  .contacts-wrapper__img {
    width: 130px;
    height: 133px;
  }
}
.contacts-wrapper__img > img {
  border-radius: 50px;
}
@media (width <= 22.5rem) {
  .contacts-wrapper__img > img {
    border-radius: 20px;
  }
}
.contacts-wrapper__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  width: 371px;
  height: 162px;
}
@media (width <= 22.5rem) {
  .contacts-wrapper__body {
    text-align: center;
    width: 291px;
  }
}
.contacts-wrapper__body .contacts-body__title {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  color: var(--color-black);
}
@media (width <= 22.5rem) {
  .contacts-wrapper__body .contacts-body__title {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.04em;
  }
}
.contacts-wrapper__body .contacts-body__description {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: var(--color-gray-300);
}
@media (width <= 22.5rem) {
  .contacts-wrapper__body .contacts-body__description {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
  }
}
.contacts-wrapper__body .contacts-body__description > a {
  color: var(--color-black);
}
.contacts-wrapper__body .contacts-body__description > a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
  text-decoration-skip-ink: none;
  transition: var(--transition-duration);
}
.contacts-wrapper__body .contacts-body__description > a:active {
  color: var(--color-green-400);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
  text-decoration-skip-ink: none;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 88px;
  background-color: var(--color-beige-200);
}
@media (width <= 22.5rem) {
  .footer {
    height: 98px;
  }
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1274px;
  height: 28px;
  padding-inline: 53px;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
}
@media (width <= 22.5rem) {
  .footer-wrapper {
    flex-direction: column;
    gap: 7px;
    width: 100%;
    height: 56px;
    padding-inline: 21.5px;
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
  }
}
.footer-wrapper__text {
  color: var(--color-gray-300);
}
.footer-wrapper-links {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
@media (width <= 22.5rem) {
  .footer-wrapper-links {
    gap: 15px;
  }
}
.footer-wrapper-links__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: var(--color-black);
}
@media (width <= 22.5rem) {
  .footer-wrapper-links__link {
    gap: 5px;
  }
}
.footer-wrapper-links__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
  text-decoration-skip-ink: none;
  transition: var(--transition-duration);
}
.footer-wrapper-links__link-1::before {
  content: url("../icons/telegram.svg");
  width: 26px;
  height: 26px;
}
.footer-wrapper-links__link-2::before {
  content: url("../icons/fb.svg");
  width: 26px;
  height: 25px;
}
.footer-wrapper-links__link-3::before {
  content: url("../icons/vk.svg");
  width: 26px;
  height: 26px;
}

/*# sourceMappingURL=main.css.map */
