@use '../helpers' as *;

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 830px;
  color: var(--color-white);
  
  background-image:
    var(--gradient-hero),
    url('../../images/hero/header-img-2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  @include laptop {
    height: 831px;
    background-image:
      var(--gradient-hero),
      url('../../images/hero/header-img.jpg');
  }
  
  @include mobile {
    height: 488px;
  }
  
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    padding-inline: 1px;
    
    &__logo {
      width: 181.83px;
      height: 30.23px;
      
      @include mobile {
        width: 133px;
        height: 22px;
      }
    }
    
    &__menu {
      @include mobile {
        display: none;
      }
      
      &-list {
        display: flex;
        gap: 50px;
        @include p-normal;
        
        @include laptop {
          gap: 30px;
        }
      }
    }
    
    &__link {
      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 6px;
        text-decoration-skip-ink: none;
        transition: var(--transition-duration);
      }
    }
    
    &__phone-link {
      @include p-normal;
      
      @include mobile {
        @include m-p-normal;
      }
    }
  }
  
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 118.5px 201px;
    
    @include laptop {
      padding: 119px 2px;
    }
    
    @include mobile {
      gap: 40px;
      padding: 52px 0;
    }

    &__title {
      @include H1;
      
      @include mobile {
        @include m-H1;
      }
    }
      
    &__description {
      @include p-normal;
      
      @include laptop {
        padding-inline: 236px;
      }
      
      @include mobile {
        @include m-p-normal;
        padding-inline: 5px;
      }
    }
    
    &__search-button {
      width: 118px;
      height: 34px;
      padding: 5px 20px;
      border-radius: 10px;
      border: none;
      color: var(--color-black);
      background-color: var(--color-white);
      @include p-small;
      
      @include mobile {
        width: 114px;
        height: 33px;
        @include m-p-small;
      }
      
      &:hover {
        color: var(--color-white);
        background-color: var(--color-orange-200);
        transition: var(--transition-duration);
      }
      
      &:active {
        color: var(--color-black);
        background-color: var(--color-orange-100);
      }
    }
  }
}
