@use '../helpers' as *;

.collect {
  &-header {}
  
  &-body {
    width: 100%;
    padding: 70px;
    background-color: var(--color-white);
    border-radius: 50px;
    
    @include laptop {
      padding: 60px;
    }
    
    @include mobile {
      padding: 20px 20px 40px 20px;
      border-radius: 30px;
    }
  }
}