@use '../helpers' as *;

.contacts {
  
  &-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 771px;
    
    @media (width <= 500px) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    
    @media (width <= 400px) {
      gap: 10px;
    }
    
    @include mobile {
      flex-direction: column;
      align-items: center;
      max-width: 291px;
    }
    
    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      max-width: 370px;
      
      @media (width <= 500px) {
        width: auto;
        max-width: 300px;
      }
      
      @include mobile {
        max-width: 130px;
        min-height: 133px;
      }
      
      & > img {
        border-radius: 50px;
        
        @media (width <= 500px) {
          border-radius: 30px;
        }
        
        @include mobile {
          border-radius: 20px;
        }
      }
    }
    
    &__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 20px;
      width: 50%;
      max-width: 371px;
      min-height: 162px;
      
      @media (width <= 500px) {
        width: auto;
        align-items: center;
        text-align: center;
      }
      
      @include mobile {
        width: 100%;
        text-align: center;
        max-width: 291px;
        align-items: center;
      }
      
      .contacts-body {
        
        &__title {
          @include H3;
          color: var(--color-black);
          
          @media (width <= 750px) {
            font-weight: 500;
            font-size: 29px;
            line-height: 121%;
          }
          
          @include mobile {
            @include m-H3;
          }
        }
        
        &__description {
          @include p-normal;
          color: var(--color-gray-300);
          
          @media (width <= 750px) {
            font-size: 18px;
          }
          
          @include mobile {
            @include m-p-normal;
          }
          
          & > a {
            color: var(--color-black);
            position: relative;
            display: inline-block;
            transition: var(--transition-duration);
            
            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              width: 0;
              height: 1px;
              transition: var(--transition-duration);
            }
            
            @include hover {
              color: var(--color-black);
              text-decoration: none;
              
              &::after {
                width: 100%;
                background-color: var(--color-black);
              }
            }
            
            &:active {
              color: var(--color-green-400);
              
              &::after {
                width: 100%;
                background-color: var(--color-green-400);
              }
            }
          }
        }
      }
    }
  }
}