@use '../helpers' as *;

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 88px;
  background-color: var(--color-beige-200);
  
  @include mobile {
    height: 98px;
  }
  
  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1274px;
    height: 28px;
    padding-inline: 53px;
    @include p-normal;
    
    
    @include mobile {
      flex-direction: column;
      gap: 7px;
      width: 100%;
      height: 56px;
      padding-inline: 21.5px;
      @include m-p-normal;
    }
    
    &__text {
      color: var(--color-gray-300);
    }
    
    &-links {
      display: flex;
      flex-direction: row;
      gap: 25px;
      
      @include mobile {
        gap: 15px;
      }
      
      &__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        color: var(--color-black);
        
        & > svg {
          color: var(--color-gray-300);
          transition: var(--transition-duration);
        }
        
        @include mobile {
          gap: 5px;
        }
        
        @include hover {
          & > svg {
            color: var(--color-black);
          }
          
          & > span {
            &::after {
              width: 100%;
              background-color: var(--color-black);
            }
          }
        }
        
        &:active {
          color: var(--color-orange-200);
          
          & > svg {
            color: var(--color-orange-200);
          }
          
          & > span {
            &::after {
              width: 100%;
              background-color: var(--color-orange-200);
            }
          }
        }
        
        & > span {
          position: relative;
          display: inline-block;
          transition: var(--transition-duration);
          
          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            transition: var(--transition-duration);
          }
        }
      }
    }
  }
}