@use '../helpers' as *;

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 88px;
  z-index: 100;
  padding: 0 57px;
  
  @include mobile {
    padding: 0 20px;
  }
  
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1168px;
    
    
    &__logo > svg {
      width: 181.83px;
      height: 30.23px;
      
      @include mobile {
        width: 133px;
        height: 22px;
      }
    }
    
    &__menu {
      max-width: 468px;
      @include mobile {
        display: none;
      }
      
      &-list {
        display: flex;
        gap: 50px;
        @include p-normal;
        
        @include laptop {
          gap: 30px;
        }
      }
    }
    
    &__link {
      position: relative;
      display: inline-block;
      
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        transition: var(--transition-duration);
      }
      
      //&:hover {
      //   text-decoration: underline;
      //   text-decoration-thickness: 1px;
      //   text-underline-offset: 6px;
      //   text-decoration-skip-ink: none;
      //   transition: var(--transition-duration);
      //
      //}
    }
    
    &__phone-link {
      @include p-normal;
      
      @include mobile {
        @include m-p-normal;
      }
    }
  }
}