@use '../helpers' as *;

.hero {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  min-height: 630px;
  color: var(--color-white);
  justify-content: center;
  align-items: center;
  padding-top: 88px;
  background-image:
    var(--gradient-hero),
    url('../images/hero/header-img-2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  @include laptop {
    height: 100vh;
    min-height: 620px;
    background-image:
      var(--gradient-hero),
      url('../images/hero/header-img.jpg');
  }
  
  @include mobile {
    height: 100vh;
    min-height: 410px;
  }
  
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    
    @include laptop {
      padding: 119px 2px;
    }
    
    @include mobile {
      gap: 40px;
      padding: 52px 0;
    }

    &__title {
      @include H1;
      
      @media (width <= 700px) {
        font-family: 'Roboto-Bold', sans-serif;
        font-weight: 700;
        font-size: 64px;
        line-height: 109%;
        letter-spacing: 0.02em;
      }
      
      @media (width <= 500px) {
        font-family: 'Roboto-Bold', sans-serif;
        font-weight: 700;
        font-size: 44px;
        line-height: 109%;
        letter-spacing: 0.02em;
      }
      
      @include mobile {
        @include m-H1;
      }
    }
      
    &__description {
      @include p-normal;
      max-width: 562px;
      
      @include laptop {
        max-width: 405px;
      }
      
      @include mobile {
        max-width: 310px;
        @include m-p-normal;
      }
    }
    
    &__search-button {
      width: 118px;
      height: 34px;
      padding: 5px 20px;
      border-radius: 10px;
      border: none;
      color: var(--color-black);
      background-color: var(--color-white);
      @include p-small;
      transition: var(--transition-duration);
      
      @include mobile {
        width: 114px;
        height: 33px;
        @include m-p-small;
      }
      
      @include hover {
        color: var(--color-white);
        background-color: var(--color-orange-200);
      }
      
      &:active {
        color: var(--color-black);
        background-color: var(--color-orange-100);
      }
    }
  }
}
