@use '../helpers' as *;

.reviews {
  &-header {
    &__title {
      @include laptop-above {
        width: 529px;
      }

      hyphens: auto;
    }
  }
  
  &-body {
    display: flex;
    flex-direction: row;
    gap: 30px;
    max-width: 1170px;
    width: 100%;
    
    @include laptop {
      gap: 18px;
      max-width: 918px;
      width: 100%;
    }
    
    @media (width <= 750px) {
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 707px;
    }
    
    @include mobile {
      flex-direction: column;
      gap: 18px;
      max-width: 318px;
      width: 100%;
    }
    
    &__card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 570px;
      min-height: 673px;
      padding: 40px;
      background-color: var(--color-beige-200);
      border-radius: 50px;
      
      @include laptop {
        max-width: 450px;
        min-height: 841px;
      }
      
      @media (width <= 750px) {
        max-width: 707px;
        height: auto;
        min-height: auto;
        padding: 30px;
        border-radius: 30px;
      }
      
      @include mobile {
        max-width: 318px;
        height: auto;
        padding: 20px;
        border-radius: 20px;
      }
    }
  }
}