@use '../helpers' as *;

.story-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 60px;
  width: 100%;
  height: 100%;
  
  @include mobile {
    padding: 30px;
  }
  
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  
  &-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 37px;
    z-index: 1;
    
    @include mobile {
      gap: 20px;
    }
    
    &__title {
      width: 60%;
      @include H3;
      
      @include mobile {
        @include m-H3;
      }
    }
    
    &__description {
      width: 55%;
      @include p-normal;
      
      @include laptop {
        width: 72%;
      }
      
      @include mobile {
        width: 95%;
        @include m-p-normal;
      }
      
      & > span {
        white-space: pre;
      }
    }
  }
  
  &-links {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    z-index: 1;
    
    &__description {
      position: relative;
      left: -20px;
      bottom: -7px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
      width: 199px;
      height: 42px;
      padding: 7px 20px;
      border-radius: 50px;
      @include p-big;
      
      &::after {
        content: url("../icons/arrow btw.svg");
        width: 24px;
        height: 26px;
        fill: var(--color-white);
        stroke: var(--color-white);
      }
      
      @include mobile {
        @include m-p-big;
      }
    }

    &-soc {
      display: flex;
      flex-direction: row;
      gap: 35px;

      &__link {
        @include p-normal;
        
        @include mobile {
          display: none;
        }
        
        & > a {
          position: relative;
          display: inline-block;
          transition: var(--transition-duration);
          
          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            transition: var(--transition-duration);
          }
          
          @include hover {
            text-decoration: none;
            color: var(--color-white);
            
            &::after {
              width: 100%;
              background-color: var(--color-white);
            }
          }
          
          &:active {
            color: var(--color-orange-200);
            
            &::after {
              width: 100%;
              background-color: var(--color-orange-200);
            }
          }
        }
      }
    }
  }
}