@use '../helpers' as *;

.tabs-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: var(--color-black);
  
  @media (width <= 750px) {
    gap: 20px;
    flex-wrap: wrap;
  }
  
  @include mobile {
    gap: 10px;
    flex-wrap: wrap;
  }
  
  &__button {
    padding: 0;
    border: none;
    background: transparent;
    position: relative;
    @include p-big;
    
    @include mobile {
      @include m-p-big;
    }
    
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 0;
      height: 2px;
      transition: var(--transition-duration);
      
      @include mobile {
        bottom: 0;
      }
    }
    
    &:where(.is-active ){
      pointer-events: none;
      color: var(--color-orange-200);
      
      &::after {
        width: 100%;
        background-color: var(--color-orange-200);
      }
    }
    
    @include hover {
      color: var(--color-black);
      
      &::after {
        width: 100%;
        background-color: var(--color-black);
      }
    }
  }
}