@use '../helpers' as *;

.travel-photos {
  &-header {}
  
  &-body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    @media (width <= 580px) {
      gap: 20px;
    }
    
    @media (width <= 480px) {
      gap: 18px;
    }
    
    @include mobile {
      gap: 18px;
    }
    
    &__row {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 301px);
      gap: 30px;
      
      @include laptop {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
      }
      
      @media (width <= 580px) {
        gap: 12px;
        grid-template-rows: repeat(1, 200px);
      }
      
      @media (width <= 480px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 110px);
        gap: 10px;
      }
      
      @include mobile {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 110px);
        gap: 10px;
      }
      
      &-mobile-spec {
        @media (width <= 480px) {
          gap: 18px;
        }
        
        @include mobile {
          gap: 18px;
        }
      }
      
      &-col5 {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 301px);
        
        @include laptop {
          grid-template-columns: repeat(4, 1fr);
        }
        
        @media (width <= 580px) {
          grid-template-rows: repeat(1, 200px);
        }
        
        @media (width <= 480px) {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(1, 110px);
        }
        
        @include mobile {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(1, 110px);
        }
      }
    }
  }
}