body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 100px;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-dark-2);
  
  @media (width < 850px) {
    padding: 40px;
  }
  
  @media (width < 720px) {
    padding: 10px;
  }
  
  @media (width < 620px) {
    padding: 5px;
  }
}

input,
label,
button {
  transition-duration: var(--transition-duration);
}

:focus-visible {
  outline: dashed 3px var(--color-accent);
  outline-offset: 3px;
  transition-duration: 0s !important;
}