@import "normalize.css";
@import "fonts.css";
@import "variables.css";
@import "globals.css";

@import "components/button.css";
@import "components/field.css";
@import "components/todo.css";
@import "components/todo-item.css";

.filter-button {
  padding: 8px 16px;
  border: 2px solid var(--color-accent);
  background: transparent;
  color: var(--color-accent);
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
}

.filter-button.active,
.filter-button:hover {
  background: var(--color-accent);
  color: white;
  border-color: var(--color-white);
}

.todo__filters {
  margin: 10px 0;
}







.todo-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.todo-item__edit-button {
  display: inline-flex;
  align-items: center;
  height: 50px;
  padding: 25px;
  color: var(--color-accent);
  background-color: var(--color-dark-2);
  border: 1px solid var(--color-dark-2);
  border-radius: var(--border-radius);
  user-select: none;
  
  @media (width < 520px) {
    padding: 10px;
  }
  
  &:hover {
    background-color: transparent;
    border-color: var(--color-accent);
  }
  
  &:active {
    scale: 1.05;
  }
}

.todo-item__edit-input {
  flex: 1;
  border: 2px solid var(--color-accent);
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  margin: 0 4px;
  background: var(--color-dark-2);
  color: var(--color-accent);
}

.todo-item__label {
  flex: 1;
  margin: 0 4px;
}
