@use 'helpers' as *;

header.fixed {
  position: fixed;
  color: var(--color-black);
  backdrop-filter: blur(54px);
  background-color: rgba(243, 239, 232, 0.6);
  opacity: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  width: var(--container-width-desktop);
  margin-inline: auto;
  
  @include laptop {
    width: var(--container-width-laptop);
  }
  
  @include mobile {
    width: var(--container-width-mobile);
    gap: 50px;
  }
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  
  @include mobile {
    gap: 20px;
  }
  
  &__title {
    @include H2;
    text-align: center;
    color: var(--color-black);
    
    @include mobile {
      @include m-H2;
    }
  }
  
  &__description {
    @include p-normal;
    max-width: 418px;
    text-align: center;
    color: var(--color-gray-300);
    
    @include mobile {
      @include m-p-normal;
      max-width: 318px;
    }
  }
}

.spec-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  width: 100%;
  margin-inline: 30px;
  
  @include laptop {
    width: 100%;
    margin-inline: 20px;
  }
  
  @include mobile {
    gap: 50px;
    width: 100%;
    margin-inline: 21px;
  }
}




//.visually-hidden {
//  @include visually-hidden;
//}
//
//.hidden-mobile {
//  @include mobile {
//    display: none !important;
//  }
//}
//
//.visible-mobile {
//  @include mobile-above {
//    display: none !important;
//  }
//}
//
//.full-vw-line {
//  position: relative;
//
//  &::before,
//  &::after {
//    position: absolute;
//    width: calc((100vw - var(--container-width)) / 2
//    );
//    height: rem(1);
//    background-color: var(--color-dark-15);
//  }
//
//  &--top {
//    &::before {
//      content: '';
//      bottom: 100%;
//    }
//  }
//
//  &--bottom {
//    &::after {
//      content: '';
//      top: 100%;
//    }
//  }
//
//  &--left {
//    &::before,
//    &::after{
//      right: 100%;
//    }
//  }
//
//  &--right {
//    &::before,
//    &::after{
//      left: 100%;
//    }
//  }
//}
//
//.circle-icon {
//  --circleSize: #{rem(52)};
//  --circleMarginLeft: #{rem(20)};
//
//  position: relative;
//  min-height: var(--circleSize);
//  padding-right: calc(var(--circleSize) + var(--circleMarginLeft));
//
//  @include laptop {
//    --circleSize: #{rem(44)};
//    --circleMarginLeft: #{rem(14)};
//  }
//
//  @include mobile {
//    --circleSize: #{rem(40)};
//  }
//
//  &::after {
//    @include square(var(--circleSize));
//    @include abs-y;
//
//    content: '';
//    right: 0;
//    background:
//      url(../../icons/arrow-top-right_black.svg) center no-repeat
//      var(--color-accent);
//    border-radius: 50%;
//  }
//}